/* GLOBAL */
body{
  overflow-x: hidden;
}
img{
  width: 100%;
}
section{
  margin-bottom:40px;
}
.font-grey{
  color: #727272;
}
.font-blue{
  color:#0072ce;
}

@keyframes dc-bg-scale{
  from{
    width:0px;
  }
  to{
    width:100%;
  }
}
@keyframes dc-bg-slow{
  from{
    background-color:#000202
  }
  to{
    background-color: none;
  }
}
@keyframes dc-bg-slow-tle{
  0%{
    padding-bottom:8000px;
    
  }
  50%{
    padding-bottom:0px;
    
  }
  100%{
    padding-bottom:80px;
  }
}
/* btn1 */
.dc-btn-orange{
  background-color: #cd3d0f;
}
.dc-btn-border1:hover{
  border :2px solid #cd3d0f;
}
.dc-btn-orange:hover{
  background-color:#cd3d0f ;
}

/* btn2 */
.dc-btn-blue{
  background-color: #2d64e6;
}
.dc-btn-border2:hover{
  border :2px solid #2d64e6;
}
.dc-btn-blue:hover{
  background-color:#2d64e6 ;
}

/* btn3 */
.dc-btn-white{
  background-color: rgba(255, 255, 255, 0.5);
}
.dc-btn-border3:hover{
  border :2px solid  rgba(255, 255, 255, 0.5);
}
.dc-btn-white:hover{
  color: #0072ce;
  background-color: rgba(255, 255, 255, 0.5);
}
  
  /* btn4 */
.dc-btn-white-b{
  color: black;
  background-color: white;
  }
  .dc-btn-border4:hover{
    border :2px solid  white;
  }
  .dc-btn-white-b:hover{
    background-color: white;
    color: black;
  }
 /* btn5 */
.dc-btn-nav{
  color: white;
  background-color:#3b3b3b ;
  }
  .dc-btn-border5:hover{
    border :2px solid  #3b3b3b ;
  }
  .dc-btn-nav:hover{
    background-color: #3b3b3b ;
  }
/* btn generic */
.dc-btn{
  border-radius:50px;
  margin: 2px;
  border: 0px;
}
.dc-btn-border1,.dc-btn-border2,.dc-btn-border3,.dc-btn-border4,.dc-btn-border5{
  border: 2px solid transparent;
  border-radius:50px;
  transition:border 0.4s;
}

/* Hover img (scale shadow filter) */
.dc-over:hover{
  filter: opacity(1);
  transition: all 0.2s linear;
}
.dc-over:hover img{
  transform:translate(0px,-10px) scale(1.05);
  box-shadow: 0px 10px 8px #6d6c6c;
  cursor: pointer; 
}

.dc-over{
  filter: opacity(0.5);
  transition: all 0.2s linear;
}
 .dc-over img{
   border-radius: 10px;
   transition: all 0.2s linear;
}
/* HEADER */
.dc-bg-nav,header{
  background-color: white !important;
}
img[src*="img/sony_logo.svg"]{
  width:100px;
  padding-right: 20px;
}
img[src*="img/play_logo.svg"]{
  width: 50px;
}
header ul li a{
  color:black !important;
  font-weight: 600;
}
.dc-nav-right{
  min-width: 350px !important;
}
.fa-search{
  color: black;
  font-size: 20px;
  padding-left: 20px;
  padding-top: 10px;
}

/* SECTION 1 */
main{
  padding-top: 112px;
}
.dc-zoom{
  animation:dc-bg-scale 3s;
}
.dc-bg{
  background-size:cover;
  background-position: center;
  color:white;
}
.dc-jumbo{
  height: 600px;
  background-image: url(../img/jumbo-bg.png);
}
.dc-jumbo2{
  background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
} 
.dc-logo{
  width: 50%;
}
.layover{
  height:100%;
  animation:dc-bg-slow 6s linear;
}
.dc-move{
  padding-bottom:80px;
  animation:dc-bg-slow-tle 5s;
}

/* SECTION2 */

img[src*="img/tony-hawks-pro-skater-1-2-store-art.jpg" ],
img[src*="img/crash-bandicoot-4-its-about-time-store-art.jpg"]{
  border-radius: 30px;
}



/* SECTION 4 */

.dc-item{
  height:26vh;
  transition: all 0.2s;
}
.dc-item>img{
  transition: all 0.2s;
}

/* SECTION 6 */
.dc-bg-sct6{
  background-color:#1f1f1f;
}

/* SECTION 8 */
.dc-bg-sct8{
  background-color:#bebcbb;
  color:black;
}

img[src*="img/ps-plus-logo.png"]{
  width: 50%;
}

/* SECTION 10 */
.dc-bg-sct10{
  background-color:#161c3b;
  color:white;
}
img[src="img/ps-now-logo-two-column.png"]{
  width:60%;
}



/* OUT  OF SECTION 4 */



/* FOOTER */
.dc-bg-footer{
  background-color:#00439c;
  color :white
}
footer img{
  width:20%;
}
footer ul {
  padding-left: 0px;
  list-style:none;
}
footer ul li a{
  color:white;
  text-decoration:none;
}
footer select,label{
  margin-top:30px;
  border:0px;
  color:white;
}
footer ul li a:hover{
  color:white;
  text-decoration:underline;
}


/* Media queries */
/* SECTION 4 */
/* dimention dc-item */
@media screen and (min-width:768px){
  main section:nth-of-type(4) img{
  width: 50%;
  
 }
 .dc-item{
   height:22vh;
   }
}
@media screen and (min-width:1200px){
  
 .dc-item{
   height:26vh;
   }
}

/* Hover img ;hover dc-item */
@media screen and (max-width:600px) {
.dc-item:hover img{
  transform:scale(1.1);
  border-bottom:2px solid #0072ce;
  cursor: pointer;
 }
}
@media screen and (min-width:600px){
  .dc-item:hover{
    transform:scale(1.1);
    border-bottom:2px solid #0072ce;
    font-weight:bold;
    cursor: pointer;
  }
  .dc-item:hover img{
    border-bottom:none;
  }
}
  /******************  */