/* GLOBAL */
img{
  width: 100%;
}
section{
  margin-bottom:40px;
}
.font-grey{
  color: #727272;
}
.font-blue{
  color:#0072ce;
}

/* btn1 */
.dc-btn-orange{
  background-color: #cd3d0f;
}
.dc-btn-orange:hover{
  background-color: #9e3b1a;
}

/* btn2 */
.dc-btn-blue{
  background-color: #2d64e6;
}
.dc-btn-blue:hover{
  background-color: #5e85e0;
}

/* btn3 */
.dc-btn-white{
  background-color: rgba(255, 255, 255, 0.5);
}
.dc-btn-white:hover{
  background-color:  rgba(255, 255, 255, 0.8);
  color:#0072ce ;
}

  /* btn4 */
.dc-btn-white-b{
  color: black;
  background-color: white;
  }
.dc-btn-white-b:hover{
  background-color:  rgba(255, 255, 255, 0.5);
  color:black
}

 /* btn5 */
.dc-btn-nav{
  color: white;
  background-color:#3b3b3b ;
  }
.dc-btn-nav:hover{
  background-color: #6b6b6b ;
  color:white;
}

/* btn generic */
.dc-btn{
  border-radius:50px;
  border:0;
}

/* HEADER */
.dc-bg-nav,header{
  background-color: white !important;
}
img[src*="img/sony_logo.svg"]{
  width:100px;
  padding-right: 20px;
}
img[src*="img/play_logo.svg"]{
  width: 50px;
}
header ul li a{
  color:black !important;
  font-weight: bold;
}
.dc-nav-right{
  min-width: 350px !important;
}
.fa-search{
  color: black;
  font-size: 20px;
  padding-left: 20px;
  padding-top: 10px;
}

/* SECTION 1 */
main{
  padding-top: 112px;
}
.dc-bg{
  background-size: cover;
  background-position: center;
  height: 100vh;
  color:white;
}
.dc-jumbo{
  background-image: url(../img/jumbo-bg.png);
}
.dc-jumbo2{
  background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
} 
.dc-logo{
  width: 50%;
}


/* SECTION2 */
img[src*="img/returnal-listing-thumb-01-ps5.jpg"],
img[src*="img/ratchet-and-clank-rift-apart-keyart.jpg"],
img[src*="img/tony-hawks-pro-skater-1-2-store-art.jpg" ],
img[src*="img/crash-bandicoot-4-its-about-time-store-art.jpg"]{
  border-radius: 30px;
}


/* SECTION 4 */

.dc-item{
  height:26vh;
  transition: all 0.2s;
}
.dc-item:hover{
  border-bottom:2px solid royalblue;
  transform:scale(1.2);
  font-weight:bold;
}


/* SECTION 6 */
.dc-bg-sct6{
  background-color:#1f1f1f;
}

/* SECTION 8 */
.dc-bg-sct8{
  background-color:#bebcbb;
  color:black;
}

img[src*="img/ps-plus-logo.png"]{
  width: 50%;
}

/* SECTION 10 */
.dc-bg-sct10{
  background-color:#161c3b;
  color:white;
}
img[src="img/ps-now-logo-two-column.png"]{
  width:60%;
}

/* FOOTER */
.dc-bg-footer{
  background-color:#00439c;
  color :white
}
footer img{
  width:20%;
}
footer ul li{
  list-style:none;
}
footer ul li a{
  color:white;
  text-decoration:none;
}
footer select,label{
  margin-top:30px;
  border:0px;
  color:white;
}

/* Media queries */
@media screen and (min-width:768px){
  main section:nth-of-type(4) img{
  width: 50%;
  
 }
 .dc-item{
   height:22vh;
   }
}
@media screen and (min-width:1200px){
  
 .dc-item{
   height:26vh;
   }
}
